-if flash[:notice]
  .alert.alert-info
    = flash[:notice]
%div.row
  %div.col-md-10.col-md-offset-1
    %h1.center
      Quizes Available
      %br
    -if current_user && current_user.is_admin?
      =link_to "Create New", new_quiz_path, class: "btn btn-primary"
    %br
    %br
    - quiz_no = 1
    %h4
      %table.table.table-hover
        %tr
          %th= "#"
          %th= "Quiz Name"
          -if current_user && current_user.is_admin?
            %th= ""
        -@quiz.each do |q|
          -if q.available
            -test_path = 'answers/' + q.id.to_s
            %tr
              %td
                = quiz_no
              %td
                =link_to q.name, test_path
              -if current_user && current_user.is_admin?
                %td
                  =link_to "Delete", quiz_path(q.id), method: :delete, class: "btn btn-primary"
                  =link_to "Edit", edit_quiz_path(q.id), class: "btn btn-primary"
            - quiz_no += 1
