.row
  .col-md-4.col-md-offset-4
    -if @user.errors.messages.any? or flash[:email_exist]
      .alert.alert-danger.center
        = flash[:email_exist]
        -@user.errors.full_messages.each do |message|
          = message
          %br
    .jumbotron
      = form_for @user do |f|
        = f.label :name 
        = f.text_field :name, class: 'form-control'

        = f.label :email
        = f.text_field :email, class: 'form-control' 

        = f.label :password
        = f.password_field :password, class: 'form-control'

        = f.label :password_confirmation, "Confirmation"
        = f.password_field :password_confirmation, class: 'form-control'

        %br= f.submit class: "btn btn-primary"
