.row
  .col-md-10.col-md-offset-1
    -sub_url = "/answers/" + @question.quiz_id.to_s
    = form_for @question, url: sub_url, method: :post do |ques|
      = ques.label ques.object.statement, class: "form-control"
      - val = 0
      .row
        .col-md-3.col-md-offset-1
          = ques.fields_for :choices do |choi|
            .row
              .col-md-1
                = ques.radio_button :correct_choice_id, val, checked: false, class: "input-group-addon"
                - val += 1
              .col-md-10
                = choi.label choi.object.statement, class: "form-control"
      .center
        = ques.submit :Submit, class: "btn btn-primary"
