<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% cus_url = "/tests/" + @quiz.id.to_s %>
    <%= form_for @quiz, url: cus_url, method: :post do |f| %>
      <%= f.text_field :name, disabled: true, class: "form_control" %><br><br>

      <%= f.fields_for :questions do |ques| %>
        <%= ques.label :statement %>
        <%= ques.text_field :statement, disabled: true, class: "form-control" %>

        <% val = 0 %>
        <div class="row">
        <div class="col-md-3 col-md-offset-1">
        <%= ques.fields_for :choices do |choi| %>
          <%= choi.label :choice %>
          <div class="row">
            <div class="col-md-1">
              <%= ques.radio_button :correct_choice_id, val, checked: false, class: "input-group-addon"%>
              <% val += 1 %>
            </div>
            <div class="col-md-10">
              <%= choi.text_field :statement, disabled: true, class: "form-control" %>
            </div>
          </div>
        <% end %>
      </div>
      </div>
      <% end %>
      <div class="center">
      <br><br><%= f.submit :Submit, class: "btn btn-primary" %><br><br><br>
      </div>

    <% end %>
  </div>
</div>
